doctype
html(lang="pt-BR")
  head
    title=title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascript/PDF.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js")
    script(src="http://code.jquery.com/jquery-1.5.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    
  body
     div(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
         div(class="navbar-header")
            a(href="/" class="navbar-brand") ADM eventos 
         div(class="navbar-collapse collapse" id="navbar-main")
            ul(class="nav navbar-nav")
               li(class="dropdown")
                  a(href="/usuarios") Usuários
            ul(class="nav navbar-nav")
               li(class="dropdown")
                  a(href="/eventos") Eventos 
            ul(class="nav navbar-nav")
               li(class="dropdown")
                  a(href="/shareEvent") JSON Eventos 
            ul(class="nav navbar-nav")
               li(class="dropdown")
                  a(href="/shareUser") JSON Usuários 
   div(class="container")   
      br
      br        
      block content
      footer
         div(class="navbar navbar-inverse navbar-fixed-bottom")
          div(class="container")
            div(class="navbar-header")
              p(class="rodape")
                strong Eventos
