extends ../layout
block content
	h1= 'Aplicação Eventos LDC'
	h3= 'Acione o menu para funcionalidades'
	pre= 'Aplicação voltada para disponibilizar informações para os eventos, sendo conectada com o banco de dados, e mostrando todos os registros da aplicação distribuida '