extends ../layout

block content
	h1 Cadastro de Eventos
	br
	form(method="POST", action="/eventos", role="form")
		div(class="from-group")
			label Título:
			input(type="text", name="titulo", class="form-control", placeholder="Bazar", required)
			br
		div(class="from-group")
			label Subtítulo:
			input(type="text", name="subtitulo", class="form-control", placeholder="Bazar beneficente para roupa.", required)
			br
		div(class="from-group")
			label Data:
			input(type="text", name="dataEvento", placeholder="00/00/0000", class="form-control" maxlength="10", required)
			br
		div(class="from-group")
			label Descrição:
			input(class="form-control" name="descricao" rows="6" placeholder="Descrição breve do evento", required)
			br
		div(class="form-group pull-right")
			a(href="/eventos" title="Voltar",class="btn btn-info") Voltar
			&nbsp
			input(type="submit", value="Cadastrar",class="btn btn-success")